# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual env
.venv/
env/
venv/
ENV/
.venv*/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.pid
*.seed
*.pid.lock

# Local dev
*.DS_Store
*.env
.env.*

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Byte-compiled
*.egg-info/
dist/
build/
