__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log
*.db
*.sqlite3
dist/
build/
.eggs/
.installed.cfg
.venv/
venv/
env/
ENV/
.venv*/
pip-wheel-metadata/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
.env
alembic/versions/*.pyc
alembic/versions/__pycache__/
*.pid
*.pid.lock
*.seed
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.bak
